/* Portrait */
 
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
    [style="sloupce"] {display: grid; grid-template-columns:  1fr;text-align: center; padding: 10px 5px 30px 5px; margin: 10px 5px 30px 5px;}
}
 
/* Landscape */
 
@media only screen
 
and (min-device-width: 800px)
 
and (max-device-width: 4096px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: landscape) {
    [style="sloupce"] {display: grid; grid-template-columns:  1fr 1fr;text-align: center; padding: 10px 5px 10px 5px; margin: 10px 5px 10px 5px;}
}
 