/* FROM INTERNET */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   [style="sloupce"] {display: grid; grid-template-columns:  1fr;text-align: center; padding: 10px 5px 30px 5px; margin: 10px 5px 30px 5px;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   [style="sloupce"] {display: grid; grid-template-columns:  1fr;text-align: center; padding: 10px 5px 30px 5px; margin: 10px 5px 30px 5px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    [style="sloupce"] {display: grid; grid-template-columns:  1fr 1fr;text-align: center; padding: 10px 5px 10px 5px; margin: 10px 5px 10px 5px;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    [style="sloupce"] {display: grid; grid-template-columns:  1fr 1fr;text-align: center; padding: 10px 5px 10px 5px; margin: 10px 5px 10px 5px;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    [style="sloupce"] {display: grid; grid-template-columns:  1fr 1fr;text-align: center; padding: 10px 5px 10px 5px; margin: 10px 5px 10px 5px;}
}