/* ˇMobile phones */
@media screen and (max-width:600px){
    body{
        grid-template-columns: 1fr;
    }
    nav > ul {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav > ul > li, h3{
        padding: 5px;
        margin: 0px;
        font-size: medium;
    }
    main{
        height: 50%;
    }
    main > section{
        grid-template-columns: 1fr;
    }
}
/* Tablets and PCs*/
@media screen and (min-width: 600px){
    body{
        grid-template-columns: 110px 1fr;
    }
    body > h1, footer{
        grid-column: 1 / span 2;
    }
    nav > ul> h3, li{
        padding-left: 5px;
    }
    main, nav{
        height: 690px;
        /* bottom: 20px; */
    }
    main > section{
        grid-template-columns: 1fr 1fr;
    }
    main > section > .important_article{
        grid-column: 1 / span 2;
    }
}





/* Roots */
body {
    overflow: auto;
    display: grid;
    gap: 5px;    
}
body > h1 {
    text-align: center; 
    height: 35px;
    background-color: #3bc4a2; 
    color: white;
    margin-bottom: 0;
    padding: 5px;
}
main{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
main > section{
    display: grid;
    gap: 5px;
}
main > section > article{
    background-color: #c4ede3;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
main > section > .important_article{
    background-color:#9de2d0;
}
nav{
    background-color:#9de2d0;
}
nav > ul> h3{
    display: inline;
    margin: 0px;
}
nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
body > footer{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color:#ebf9f6;
    position: relative;
}

/* Fixed elements */
.bg_bords_text {
    text-align: center; 
    font-family:'Times New Roman', Times, serif; 
    font-weight:500;
    overflow: hidden;
}
#test{
    background-color: red;
    color: black;
}
.image {
    width: 100px;
}