body{
    border: 4px double black;
    border-radius: 20px;
    
}
h1{
    text-align: center;
    color: blue;
    margin: 5px -50px 5px -50px;
}
p{
    text-align: center;
    margin: 5px -50px 5px -50px;
}